**q1-Write a code to reverse a string.**

In [ ]:
a=input('enter a string-')
b=a[::-1]
print('reverse of string-',b)

enter a string-pwskills
reverse of string- sllikswp

**q2- Write a code to count the number of vowels in a string.**

In [ ]:
a=input('enter a string:-')
c=0
for i in a:
  if i in 'aeiou':
    c=c+1
print('number of vowels in string-',c)

enter a string:-data science pw skills
number of vowels in string- 6

**q3- Write a code to check if a given string is a palindrome or not.**

In [ ]:
a=input('enter a string-')
if a==a[::-1]:
  print('string is a palindrome')
else:
  print('string is not a palindrome')

enter a string-mom
string is a palindrome

**q4-Write a code to check if two given strings are anagrams of each other.**

In [ ]:
a=input('enter first string:')
b=input('enter second string:')
if sorted(a)==sorted(b):
  print('strings are anagrams')
else:
  print('strings are not anagrams')

enter first string:throw
enter second string:worth
strings are anagrams

**q-5-Write a code to find all occurrences of a given substring within another string**

In [ ]:
a=input('enter a string:')
b=input('enter a substring:')
if b in a:
  print('substring is present')
else:
  print('substring is not present')

enter a string:artificial intelligence
enter a substring:arti
substring is present

**q6-Write a code to perform basic string compression using the counts of repeated characters.**

In [ ]:
a=input('enter a string:')
b=''
for i in a:
  if i not in b:
    b=b+i+str(a.count(i))
    print(b)

enter a string:together
t2
t2o1
t2o1g1
t2o1g1e2
t2o1g1e2h1
t2o1g1e2h1r1

**q7-Write a code to determine if a string has all unique characters.**

In [ ]:
a=input('enter a string:')
if len(a)==len(set(a)):
  print('string has all unique characters')
else:
  print('string has duplicate characters')

enter a string:kite
string has all unique characters

**q8-Write a code to convert a given string to uppercase or lowercase.**

In [ ]:
a= 'Pw Skills'
b=a.upper()
c=a.lower()
print(b)
print(c)

PW SKILLS
pw skills

**q9-Write a code to count the number of words in a string.**

In [ ]:
a= input('enter a string:')
print('no of words:-', len(a))

enter a string:technology
no of words:- 10

**q10-Write a code to concatenate two strings without using the + operator.**

In [ ]:
a='pw'
b='skills'
c=a+b
print(c)

pwskills

**q-11- Write a code to remove all occurrences of a specific element from a list**

In [ ]:
a=['pw','skills','data','science']
a.remove('data')
print(a)

['pw', 'skills', 'science']

**q-12-Implement a code to find the second largest number in a given list of integers.**

In [ ]:
a=[100,234,10000,43,67,5165]
b= sorted(a)
c=b[-2]
print(c)

5165

**q-13- Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values.**

In [ ]:
a=['data','science','data','machine','learning']
b={}
for i in a:
  b[i]=a.count(i)
print(b)

{'data': 2, 'science': 1, 'machine': 1, 'learning': 1}

**q-14-Write a code to reverse a list in-place without using any built-in reverse functions.**

In [ ]:
a=['cricket','badminton','tennis','basketball']
b=a[::-1]
print(b)

['basketball', 'tennis', 'badminton', 'cricket']

**q-15-Implement a code to find and remove duplicates from a list while preserving the original order of
elements.**

In [ ]:
a=['mumbai','lucknow','delhi','mumbai','bhopal','delhi']
b=[]
for i in a:
  if i not in b:
    b.append(i)
print(b)

['mumbai', 'lucknow', 'delhi', 'bhopal']

**q-16-Create a code to check if a given list is sorted (either in ascending or descending order) or not.**

In [ ]:
a=[12,14,16,18,19]
if a==sorted(a) or a==sorted(a,reverse=True):
  print('list is sorted')
else:
  print('list is not sorted')

list is sorted

**q-17-write a code to merge two sorted lists into a single sorted list.**

In [ ]:
a=[2,3,1,4,5]
b=[11,18,16,20]
c=sorted(a)
d=sorted(b)
c.extend(d)
print(c)

[1, 2, 3, 4, 5, 11, 16, 18, 20]

**q-18- Implement a code to find the intersection of two given lists.**

In [ ]:
a=['a','b','c','d']
b=['f','g','a','h']
c=[]
for i in a:
  if i in b:
    c.append(i)
    print(c)

['a']

**q-19-Create a code to find the union of two lists without duplicates.**

In [ ]:
a=['a','b','c','d']
b=['f','g','a','h']
c=[]
for i in a:
  if i not in c:
    c.append(i)
for j in b:
  if j not in c:
    c.append(j)
print(c)

['a', 'b', 'c', 'd', 'f', 'g', 'h']

**q-20- Write a code to shuffle a given list randomly without using any built-in shuffle functions.**

In [ ]:
a=['cricket','badminton','tennis','basketball']
a[2]='cricket'
a[1]='basketball'
a[0]='tennis'
a[3]='badminton'
print(a)

['tennis', 'basketball', 'cricket', 'badminton']

**q-21-Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples.**

In [ ]:
a=tuple(input('enter a tuple:'))
b=tuple(input('enter second tuple:'))
c=[]
for i in a:
  if i in b:
    c.append(i)
    d=tuple(c)
print(d)

enter a tuple:1 2 3 4
enter second tuple:3 4 6 7
(' ', ' ', '3', ' ', '4')

**q22-Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets.**

In [ ]:
a=set(input('enter set 1:'))
b=set(input('enter set 2:'))
print(a&b)

enter set 1:1,2,3
enter set 2:3,4,5
{',', '3'}

**q23-Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.**

In [ ]:
a=tuple(input('enter first tuple:'))
b=tuple(input('enter second tuple:'))
c=a+b
print(tuple(c))

enter first tuple:abc
enter second tuple:123
('a', 'b', 'c', '1', '2', '3')

**q-24-Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set.**

In [ ]:
a=set(input('enter first set:'))
b=set(input('enter second set:'))
c=[]
for i in a:
  if i not in b:
    c.append(i)
print(set(c))

enter first set:'a','b','c'
enter second set:'c','d','f'
{'b', 'a'}

****

**q-25- Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices.**

In [3]:
a=tuple(input('enter a tuple:'))
b=int(input('enter starting index:'))
c=int(input('enter ending index:'))
d=a[b:c]
print(d)

enter a tuple:pwskills
enter starting index:2
enter ending index:6
('s', 'k', 'i', 'l')

**q-26- Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets**

In [6]:
a= set(input('enter first set:'))
b= set(input('enter second set:'))
print(a|b)

enter first set:1 2 3 4
enter second set:1 5  6 7
{'7', '3', '6', '4', '1', '5', '2', ' '}

**q-27- Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking.**

In [15]:
a= []
b= int(input('enter no of elements:'))
for i in range(b):
  c=int(input('enter elements:'))
  a.append(c)
  d=tuple(a)
print('maximum is ', max(d))
print('minimum is' ,min(d))

enter no of elements:4
enter elements:56
enter elements:78
enter elements:32
enter elements:89
maximum is  89
minimum is 32

**q-28-Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets.**

In [17]:
a={1,2,3,4,5}
b={4,5,6,7,8}
print(a|b)
print(a&b)
print(a-b)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

**q-29-Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple.**

In [26]:
a= tuple(input('enter a tuple:'))
b= input('enter element:')
print(a.count(b))

enter a tuple:pineapple
enter element:p
3

**q-30-Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets.**

In [31]:
s1=set()
n= int(input('enter no of elements:'))
for i in range(n):
  a=input('enter elements:')
  s1.add(a)
  print(s1)
s2=set()
n= int(input('enter no of elements:'))
for i in range(n):
  a=input('enter elements:')
  s2.add(a)
  print(s2)
  print(s1^s2)

enter no of elements:2
enter elements:pw
{'pw'}
enter elements:skills
{'skills', 'pw'}
enter no of elements:3
enter elements:skills
{'skills'}
{'pw'}
enter elements:data
{'skills', 'data'}
{'data', 'pw'}
enter elements:science
{'skills', 'data', 'science'}
{'data', 'science', 'pw'}

**q31- Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.**

In [37]:
a=[]
n= int(input('enter no of elements:'))
for i in range(n):
  b=input('enter elements:')
  a.append(b)
print(a)
c={}
for j in a:
  c[j]=a.count(j)
print(c)

enter no of elements:5
enter elements:book
enter elements:pencil
enter elements:copy
enter elements:book
enter elements:pencil
['book', 'pencil', 'copy', 'book', 'pencil']
{'book': 2, 'pencil': 2, 'copy': 1}

**q32-Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together.**

In [40]:
a={}
n= int(input('enter no of elements:'))
for i in range(n):
  b=input('enter key:')
  c=int(input('enter value:'))
  a[b]=c
print(a)
d={}
n= int(input('enter no of elements:'))
for i in range(n):
  b=input('enter key:')
  c=int(input('enter value:'))
  d[b]=c
print(d)
a.update(d)
print(a)

enter no of elements:3
enter key:pw
enter value:1
enter key:skills
enter value:2
enter key:data
enter value:3
{'pw': 1, 'skills': 2, 'data': 3}
enter no of elements:3
enter key:science
enter value:4
enter key:data
enter value:5
enter key:technology
enter value:6
{'science': 4, 'data': 5, 'technology': 6}
{'pw': 1, 'skills': 2, 'data': 5, 'science': 4, 'technology': 6}

**q-33-Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None.**


could not understand question.

**q-34-Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order.**

In [42]:
d={}
n= int(input('enter no of elements:'))
for i in range(n):
  b=input('enter key:')
  c=int(input('enter value:'))
  d[b]=c
print(sorted(d.values()))

enter no of elements:4
enter key:a
enter value:2
enter key:b
enter value:6
enter key:c
enter value:9
enter key:d
enter value:8
[2, 6, 8, 9]

**q-35-Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.**

could not understand.